.CartItems{
    width: 90%;
    margin: 30px auto;
    background-color: rgb(233, 188, 104);
    border: 2px solid black;
    border-radius: 5px;
}

.Header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    color: rgb(66, 50, 21);
    font-weight: 700;
    font-size: 35px;
    border-bottom: 5px solid rgb(94, 64, 10);

}

.CartEmpty{
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 22px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Container {
    margin-left: 35px;
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    width: 80%;
}

.Item {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: auto;
    height: auto;
    border-radius: 5px;
    background-color: antiquewhite;
    color: rgb(107, 73, 73);
    margin: 20px 20px;
}

.Image {
    width: 550px;
    height: auto;
    border: 2px solid black;
}

.Name {
    font-size: 22px;
    font-weight: 700;
}

.Price {
    font-size: 17px;
}

.Desc{
    margin: 30px;
}

.Button{
    margin: 15px;
    width: 40px;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    color:antiquewhite;
    cursor: pointer;
}

.ButtonRemove{
    background-color: red;
}

.ButtonAdd {
    background-color: green;
}

.ButtonAdd:active {
transform: translateY(1.5px);
}

.ButtonRemove:active {
    transform: translateY(1.5px);
}

.Value{
    font-size: 22px;
    color: rgb(107, 73, 73);
    margin-left: 30px;
}

.TotalPrice{
    display: flex;
    padding: 20px;
    border-top: 2px solid black;
    border-radius: 5px;

}

.Submit {
    border-radius: 5%;
    background-color: rgb(117, 93, 93);
    padding: 0px 30px;
    cursor: pointer;
    /* color: antiquewhite; */
    font-size: 20px;
    cursor: pointer;
}



.Submit:hover {
    background-color: antiquewhite;
    padding: 0px 30px;
    color: rgb(117, 93, 93);

}

.Submit:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.PriceItem{
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    margin-right: 30px;
    margin-left: auto;
}

.ClearButton{
    display: block;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: auto;
    border: none;
    border-radius: 5%;
    background-color: rgb(117, 93, 93);
    padding: 10px 30px;
    cursor: pointer;
    color: antiquewhite;
    font-size: 20px;
    cursor: pointer;
}

.ClearButton:hover {
    background-color: antiquewhite;
    color:rgb(117, 93, 93);
}

.Price {
    font-size: 22px;
    font-weight: 700;
    margin-top: 10px;
    margin-right: 30px;
    margin-left: auto;
}

.Flex{
    display: flex;
}